<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MZRegistrationForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B2C5D9C1C17042700D10F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2C5DB51C17042800D10F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2C5DC01C17042800D10F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
